html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 1rem;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  align-items: center;
  background-color: #54b3d6c7;
  width: 100%;
  margin-block-end: 1.5rem;
  border-radius: 15px;
}
#logo img {
  width: 2rem;
  padding: 1rem;
}
h1 {
  font-size: 1.5rem;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  margin-block-end: 30px;
}
main {
  border-radius: 10px;
  background-image: url("../images/third_pic.jpg");
  background-size: 100% calc(100%);
  max-height: fit-content;
}
.background-opaque {
  background-color: rgba(255, 255, 255, 0.85);
}
.wrapper {
  padding: 4.5rem;
}
.input-box {
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box input {
  background: transparent;
  display: inline;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 13px;
}
.input-box input::placeholder {
  color: black;
}
