@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

html {
	font-size: 62.5%;
	font-family: "Ubuntu", sans-serif;
}

/* --------------------------------- HEADER --------------------------------- */

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 1rem 0 1rem;
	color: #408EC6;
}

header figure {
	display: block;
	margin: 10px;
	max-width: 100px;
	margin-right: 2rem;
}

header figure img {
	max-width: 100%;
}

header section h1 {
	font-size: 4rem;
}

header section h3 {
	font-size: 2.5rem;
}

/* --------------------------------- NAVIGATION ----------------------------- */

nav {
	background-color: #1E2761;
	padding: 1rem 0 1rem 1rem;
	box-shadow: 0 5px 5px -0 rgba(0, 0, 0, 0.5);
	/* box-shadow: -1px 8px 18px -10px rgba(0,0,0,0.5); */
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	padding: 1rem;
}

nav ul li a {
	font-size: 2rem;
	color: white;
	text-decoration: none;
	display: block;
}

nav ul li a:hover {
	color: rgb(199, 204, 209);
}

/* --------------------------------- MAIN --------------------------------- */

main {
	display: flex;
	flex-direction: row;
	text-align: left;
	margin: 20px 0px;
	padding: 5px;
	background-color: lightgray;
	box-shadow: 0 5px 5px -0 rgba(0, 0, 0, 0.5);
	/* outline: 2px solid blue; */
}

main h3 {
	font-size: 2rem;
	margin: 10px;
	text-transform: uppercase;
}

main p {
	margin: 10px;
	font-size: 1.5rem;
	/* outline: 2px solid green; */
}

main img {
	width: 150px;
	height: 150px;
	margin: 10px;
	/* outline: 2px solid red; */
}

.block2 {
	flex-flow: row-reverse;
}


/* --------------------------------- FOOTER --------------------------------- */

footer {
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	background-color: #1E2761;
	padding: 40px 10px;
	color: white;
	box-shadow: 0 5px 5px -0 rgba(0, 0, 0, 0.5);
}

footer p {
	margin-left: 20px;
}

footer ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

footer li {
	padding-left: 13px;
}

footer i {
	font-size: medium;
}

footer i:hover {
	transform: translateY(5px);
	transition: all 0.3s;
	cursor: pointer;
}

/* --------------------------------- MAIN MEDIA ----------------------------- */

@media only screen and (max-width: 486px) {
	footer {
		justify-content: space-evenly;
	}

	main {
		display: flex;
		flex-direction: column;
		flex-flow: column;
		/* justify-content: space-around; */
		font-size: 1.5rem;
		text-align: center;
	}

	.block2 {
		flex-flow: column;
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
	}

	main img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}