html {
    font-size: 62.5%;
}

/* ---------------- Стили для смартфонов ----------------*/
body {
    font-family: Arial, sans-serif;
    /* Задаем базовый шрифт для сайта */

    background-color: aqua;
    /* Задаем цвет заливки */

    line-height: 1.6;
    /* Задаем межстрочный интервал */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    /* Задаем жирность */
    margin-bottom: 1.5rem;
    /* Задаем ниждний отступ */
}


/* ---------------- Стили для планшетов ---------------- */
@media (min-width: 768px) {
    body {
        background-color: coral;
    }
}

/* ---------------- Стили для настольных компьютеров ---------------- */
@media (min-width: 1200px) {
    body {
        background-color: gray;
    }
}