html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: lightgray;
}


.calendar {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto repeat(6, 1fr);
}

.top-row {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  align-items: center;
  justify-items: center;
  font-size: 25px;
  font-weight: 800;
  padding: 15px;
}

.weekday-row {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

.date-grid {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.date-cell {
  border: 1px solid darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}