body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}


/* основной контейнер*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1,
  h2 {
    text-align: center;
    font-size: 50px;
  }
}

/* циферблат */
input[type="time"] {
  color: black;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  font-size: 50px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /* Эффект тени */
  transition: box-shadow 0.3s ease;
  /* Плавный переход для тени */
}

input[type="time"]:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  /* Более заметная тень при наведении */
}

/*рекомендуемое время пробуждения*/
.recommended-times {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 768px) {

  .App {

    h1,
    h2 {
      font-size: 35px;
    }
  }

  /* Циферблат */
  input[type="time"] {
    font-size: 30px;
  }

  .recommended-times {
    font-size: 30px;
  }
}