html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 18px;
  background-image: url('img/grunge.png');
  background-repeat: repeat;
}

#special {
  /* margin: 0 auto; */
  text-align: center;
  max-width: 425px;
  box-sizing: border-box;
  background-color: rgb(110 127 133);
  color: rgb(168 181 183);
  background-image: url('img/special-bg.png');
  background-repeat: repeat-x;
  background-position: bottom;
  font-size: 23px;
  padding: 10px 20px;
}

#special .highlighted {
  color: white;
  font-size: 27px;
}

#wrapper {
  max-width: 425px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.NAV {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid rgb(110 127 133);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 22px;

}

.NAV a {
  text-decoration: none;
  color: rgb(110 127 133);
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
}

#main p {
  color: rgb(110 127 133);
}

#main p:first-child {
  font-weight: bold;
}

#main img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  padding: 10px 0;
}

.callout {
  max-width: 425px;
  box-sizing: border-box;
  background-color: rgb(244, 234, 205);
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0px;
  text-align: center;
  color: rgb(110 127 133);
}

.callout p:first-child {
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.pretzels-block,
.about {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(110 127 133);

  border-bottom: 2px solid rgb(110 127 133);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.pretzels-block h2,
.about h2 {
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.pretzels-list {
  column-count: 2;
}

.pretzels-list li {
  margin-bottom: 10px;
}

.pretzels-list a {
  color: blue;
}

.remark {
  color: rgb(110 127 133);
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: rgb(110 127 133);
  letter-spacing: 4px;
}

.footer img {
  margin: 15px;
}

@media screen and (min-width: 426px) {

  #header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #special,
  #wrapper,
  .callout {
    max-width: none;
    /* Убираем ограничение по максимальной ширине */
    margin: 0;
    /* Убираем автоматические отступы */
  }

  .NAV {
    flex-wrap: wrap;
  }

  .NAV a {
    flex: 1;
    text-align: center;
  }


  .callout {
    margin-top: 20px;
  }

  .pretzels-block,
  .about {
    padding: 15px;
  }
}



@media screen and (min-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  #special {
    max-width: 960px;
    width: 100%;
  }

  #wrapper {
    flex-direction: row;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    max-width: 960px;
  }

  #header,
  .footer {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  #main {
    flex: 6;
    max-width: 60%;
    padding: 10px;
  }

  #sidebar {
    flex: 4;
    max-width: 40%;
    padding: 10px;
  }

  .footer {
    order: 3;
  }


}