@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}
/* MAIN COLORS Blue #408EC6, Maroon #7A2048, Indigo #1E2761 and white */
/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

/* MOBILE VIEW */

:root {
  --bg-color-blue: #408ec6;
  --bg-color-maroon: #7a2048;
  --bg-color-indigo: #1e2761;
  --bg-color-white: #fff;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-image: url(../images/header-bg.jpeg);
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

header figure {
  display: block;
  max-width: 100px;
  margin-right: 2rem;
}

header figure img {
  max-width: 100%;
  border-radius: 50px;
}

header section h1 {
  font-size: 5rem;
  color: #fff;
}

header section h3 {
  font-size: 3rem;
  color: #fff;
}

/* NAV */

nav {
  background-color: var(--bg-color-indigo);
  padding: 1rem 0 1rem 1rem;
  box-shadow: -1px 8px 18px -10px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  color: rgb(199, 204, 209);
}

/* CAROUSEL IMAGE SLIDER */

.img-slider-full-width-wrapper {
  background-image: url(../images/carousal-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 1rem 2rem 1rem;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-container figure {
  text-align: center;
  padding: 1rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  max-width: 100%;
  max-height: 300px;
  padding: 1rem 0 1rem 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

main h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}

/* NOW AVAILABLE SECTION  */

.full-width-wrapper {
  background-color: var(--bg-color-blue);
  padding: 3rem 0 2rem 0;
  margin-bottom: 2rem;
}

.now-available-section {
  max-width: 700px;
  margin: auto;
}

.now-available-section article {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-white);
  padding: 2rem;
  margin-bottom: 2rem;
}

.now-available-section article > * {
  flex: 1;
  font-size: 1.5rem;
}

.now-available-section article figure {
  display: block;
}

.now-available-section article figure img {
  max-width: 100%;
}

.now-available-section article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.now-available-section article div button {
  color: white;
  background-color: var(--bg-color-maroon);
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.now-available-section article div button:hover {
  background-color: #92134d;
}

.now-available-section article div p {
  margin-bottom: 1rem;
}

/* NO PLANS SECTION */

#no-plans-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.no-plans-section {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.no-plans-section p {
  margin-bottom: 2rem;
}

.no-plans-section a {
  text-decoration: none;
  color: white;
  background-color: var(--bg-color-maroon);
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 10px;
}

.no-plans-section a:hover {
  background-color: #92134d;
}

/* MEDIA QUERYS */

@media only screen and (min-width: 486px) {
  .now-available-section article {
    flex-direction: row;
    margin: 0 1rem 2rem 1rem;
    border-radius: 5px;
  }
}
